#div1{
    height: 100px;
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vw;
    font-style: italic;
    text-align: left;
    border-style: dotted;
    border-width: 10px;
    border-radius: 20px;



}
#div2{
    height: 100px;
    background-color: orange;
}
#div3{
    height: 100px;
    background-color: yellow
}
#div4{
    height: 100px;
    background-color:green
}
#div5{
    height: 100px;
    background-color:blue
}
#div6{
    height: 100px;
    background-color:purple
}
#div7{
    background-color: green;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
#mahmutexcalibur{
    text-align: center;
    background-color: darksalmon;
    height: 10vh;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;

}
#resim{
    background-color: black;
    height: 55vh;

}
#orta{
    background-color: bisque;
    height: 30vh;

}
#dip{
    background-color: red;
    height: 5vh;
}